<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animal Adoption</title>

</head>
<body>
<div>
    <h2>Animal Shelters</h2>
</div>
<div>
    <p>Sample Text</p>
    <button id="search">Search</button>
</div>
<div id="shelter-table">

</div>
<script>
    document.getElementById("search").onclick = function () {
        getShelters()
    };

    function getShelters() {
        fetch('http://127.0.0.1:5000/shelters')
            .then(function (response) {
                return response.json();
            })
            .then(function (shelters) {
                table_dom = '<table>';
                for (var i in shelters) {
                    console.log(shelters[i])
                    table_dom += '<tr>';
                    table_dom += '<td>' + shelters[i].id + '</td>';
                    table_dom += '<td>' + shelters[i].name + '</td>';
                    table_dom += '</tr>'
                }
                table_dom += '</table>';

                document.getElementById("shelter-table").innerHTML = table_dom
            });
    }
</script>
</body>
</html>